<div class="container">
    <h3 class="main-title">My Todos</h3>
</div>
<div class="section pd-20">
    <div class="row">
        <div class="col-md-{{colMd}} box-shadow">
            <form role="form">
                <div class="form-group col-md-7">
                    <label class="control-label" for="newTodo">New todo</label>
                    <input class="form-control"
                           id="newTodo"
                           placeholder="todo"
                           type="text"
                           name="newTodo"
                           [(ngModel)]="newTodo"
                           [ngModelOptions]="{standalone: true}"
                    >
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label" for="category">Category</label>
                    <select #selectedCategory id="category" class="form-control">
                        <option *ngFor="let category of categories" value="{{category._id}}">{{category.category}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <button [disabled]="categories.length===0" style="margin-top: 25px;" id="add" class="btn btn-info "
                            (click)="create(newTodo, selectedCategory.value);">
                        Add todo
                    </button>
                </div>
                <div [class.display-block]="categories.length===0" class="form-group warning-bl col-md-12">
                    Please, create category
                </div>
            </form>
            <div class="clearfix"></div>
            <div style="height: 2em"></div>
            <div class="tool-box">
                <h2>Filter by</h2>
                <div class="tool-box-inner">
                    <div class="form-group col-md-1 col-xs-6">
                        <label class="control-label" for="filterDone">Done</label>
                        <input type="checkbox" id="filterDone"
                               [(ngModel)]="isFilterDone"
                               (click)="isFilterDone=!isFilterDone; filterTodos();">
                    </div>
                    <div class="form-group col-md-1 col-xs-6">
                        <label class="control-label" for="filterActive">Active</label>
                        <input type="checkbox" id="filterActive"
                               [(ngModel)]="isFilterActive"
                               (click)="isFilterActive=!isFilterActive; filterTodos();">
                    </div>
                    <div class="form-group col-md-3">
                        <label style="width: 25%; float: left;" class="control-label"
                               for="categoryFilter">Category</label>
                        <select [ngModel]="selectedFilterCategory" (ngModelChange)="filterTodos($event)"
                                style="width: 75%; float: left;" id="categoryFilter" class="form-control col-md-9">
                            <option value="none">None</option>
                            <option *ngFor="let category of categories" value="{{category._id}}">{{category.category}}
                            </option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="list-group-header">
                <span class="filter-checkbox">Done</span>
                <span class="filter-checkbox">Active</span>
                <span class="todo-desc">Todo description</span>
                <span class="">Category</span>
            </div>
            <ul class="list-group">
                <li *ngFor="let todo of todos" (click)="editTodo(todo)"
                    class="list-group-item clearfix">
                        <span class="filter-checkbox"><input type="checkbox"
                                                             [checked]="todo.done"
                                                             (click)="updateDoneStatus(todo); $event.stopPropagation()"></span>
                    <span class="filter-checkbox"><input type="checkbox"
                                                         [checked]="todo.active"
                                                         (click)="updateActiveStatus(todo); $event.stopPropagation()"></span>
                    <span class="todo-desc">{{todo.todo}}</span>
                    <span>{{todo.category?todo.category.category:''}}</span>
                    <span class="pull-right">
              <button class="btn btn-xs btn-danger"
                      (click)="delete(todo); $event.stopPropagation()">
                Delete
              </button>
            </span>
                </li>
            </ul>
        </div>

        <div *ngIf="selectedTodo" class="col-md-4 edit-box box-shadow">
            <h3>Edit task</h3>
            <div class="form-group">
                <label class="control-label" for="task">Todo: </label>
                <input class="form-control"
                       id="task"
                       [(ngModel)]="selectedEditTodo" placeholder="todo">
            </div>
            <div class="form-group">
                <label class="control-label" for="task-category">Category</label>
                <select [ngModel]="selectedEditCategory" (ngModelChange)="onChangeSelectedEditCategory($event)"
                        id="task-category" class="form-control">
                    <option *ngFor="let category of categories" [ngValue]="category._id">{{category.category}}</option>
                </select>
            </div>
            <button class="btn btn-default" (click)="cancel()">Cancel</button>
            <button class="btn btn-info" (click)="update()">Save todo</button>
        </div>
    </div>
</div>
<div class="clearfix"></div>
