<div class="container main-container">
  <div class="navbar navbar-custom navbar-default navbar-static-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/todos"><span>{{title}}</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li (click)="navSwitch('todos')"
              [class.active]="isActive('todos')">
            <a routerLink="/todos">Todos</a>
          </li>
          <li (click)="navSwitch('categories')"
              [class.active]="isActive('categories')">
            <a routerLink="/categories">Categories</a>
          </li>
        </ul>
      </div>
  </div>

  <router-outlet></router-outlet>

  <footer class="section section-primary pd-0 mg-20">

      <div style="text-align: center" class="row">
        <div class="col-sm-12">
          <h1>Contact me!</h1>
          <p><a target="_blank" href="http://www.linkedin.com/in/maksym-khrystenko">www.linkedin.com/in/maksym-khrystenko</a></p>
          <p><a href="mailto:maksymkhrystenko@gmail.com">maksymkhrystenko@gmail.com</a></p>
        </div>
      </div>
  </footer>

</div>